<div class="col-md-6 col-md-offset-3">
  <h1> Store your memories here. <br> See what others around you are sharing. </h1>
  <br>

  <% @users.each do |user| %>
  <div class="col-md-4">
    <%= link_to (image_tag user.stories.first.pins.first.image.url(:large)), user_path(user) if user.stories.first && user.stories.first.pins.first && user.stories.first.pins.first.image? %>
    <br>
    <%= link_to user.name, user_path(user) %>
  </div>
  <% end %>
</div>
