<h1>USERS INDEX</h1>

  <% @users.each do |user| %>
    <div class="col-md-4">
      <%= link_to (image_tag user.stories.first.pins.first.image.url(:med)), user_path(user) if user.stories.first.pins.first.image.url(:med) %>
      <br>
      <%= link_to user.name, user_path(user) %>
    </div>
  <% end %>
