<div class="row profileLinks">
  <% if current_user == @user %>
    <%= link_to 'new story', new_user_story_path(@user, @story) %>
    <br>
  <% end %>
  <%= link_to 'stories archive', user_stories_path(@user) %>
</div>

<div class="col-md-6 col-md-offset-3">
  <h1> <%= @user.name %> </h1>
  <br>
    <% @user.stories.each do |story| %>
      <div class="storyTitle">
        <%= link_to story.title, user_story_path(@user, story) %>
      </div>
    <% end %>
</div>
