<h1> <%= @user.name %>'s Profile </h1>

<ul>
  <% @user.stories.each do |story| %>
    <li>
      <%= link_to story.title, user_story_path(@user, story) %>
        <% story.pins.each do |pin| %>
          <%= image_tag pin.image.url(:med) if pin.image? %>
        <% end %>
      <% end %>
    </li>
</ul>
