<div class="col-md-6 col-md-offset-3">
  <h1> <%= @user.name %> </h1>
  <br>
    <% @user.stories.each do |story| %>
      <div class="col-md-4">
        <% story.pins.each do |pin| %>
        <%= image_tag pin.image.url(:large) if pin.image? %>
        <% end %>
        <div class="storyTitle">
          <%= link_to story.title, user_story_path(@user, story) %>
        </div>
      </div>
    <% end %>
</div>
