<div>
  <h1>StoreY</h1>

  <div>
    <p>
      A place to store your memories and share them with others. Sign up and get started today.
    </p>
  </div>

  <div>
    <%= render partial: 'form' %>
  </div>
</div>
