<div class="col-md-6 col-md-offset-3">
  <h1>StoreY</h1>

  <div>
    <p>
      A place to store your memories and share them with others. <br>
      Sign up and get started today.
    </p>
    <%= render partial: 'form' %>
  </div>

</div>
