<html class="welcome-bg">
  <div class="col-md-4 col-md-offset-4" id="form-container">
    <h1>StoreY</h1>
    <div>
      <p>
        A place to store your memories and share them with others. <br>
        Sign up and get started today.
      </p>
      <%= render partial: 'form' %>
      Already have an account? Sign in <%= link_to 'here', login_path %>
    </div>
  </div>
</html>
