<h1>Stories</h1>

<ul>
  <% @stories.each do |story| %>
    <li>
      <%= story.title %> <%= link_to 'Show', user_story_path(@user, story)  %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Story', new_user_story_path(@user) if current_user == @user %>
<br>
<%= link_to 'Back to profile', user_path(@user) %>
