/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1, h3 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  :hover {
    text-decoration: none;
  }
}

.welcome-bg {
  background: url('http://imgur.com/ZXpacb3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  background: transparent;
  border-color: rgba(0, 0, 0, .2);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.profileLinks {
  font-family: 'Shadows Into Light', cursive;
  font-size: 18px;
  float: right;
  text-align: right;
  padding-right: 80px;
  :hover {
    text-decoration: none;
  }
}

.navbar-links {
  float: right;
  text-align: right;
}

// .outer-box {
//   height: 250px;
//   width: 300px;
//   background-color: pink;
//   left: 200px;
//   top: 200px;
// }
//
// .preview1 {
//   height: 200px;
//   width: 190px;
//   float: left;
//   background-color: lime;
//   position: absolute;
//
// }
//
// .preview2 {
//   height: 100px;
//   width: 110px;
//   background-color: cyan;
//   position: absolute;
//   left: 190px;
//   top: 171px;
//   z-index: +1;
// }
//
// .preview3 {
//   height: 150px;
//   width: 110px;
//   background-color: magenta;
//   position: absolute;
//   left: 190px;
// }
//
// .storyTitle {
//   font-size: 20px;
//   height: 100px;
//   width: 400px;
//   position: absolute;
// }

#pins {
  top: 180px;
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	}
}

#form-container {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 10px;
  box-shadow: 10px;
  padding: 20px;
  top: 50px;
}

#storeysign:hover {
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
}

#story-archives {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  .box {
    border: 0px;
    margin: 10px;
    width: 300px;
    text-align: center;
    img {
      width: 100px;
      height: 50px;
    }
  }
}

#story-archive-contents {
  padding: 20px;
}
